@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: Gotham;
    src: url(../fonts/gotham-book.ttf) ;
}
@font-face {
    font-family: Gotham-Light;
    src: url(../fonts/GothamLight.ttf);
}
@font-face {
    font-family: Gotham-Bold;
    src: url(../fonts/GothamBold.ttf);
}
html {
  font-family: Gotham-Light;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
@font-face{font-family: 'WebRupee';src: url('../fonts/WebRupee.V2.0.eot');src: local('../fonts/WebRupee'), url('../fonts/WebRupee.V2.0.ttf') format('truetype'),  url('../fonts/WebRupee.V2.0.svg') format('svg'); font-weight:normal; font-style:normal;}
.WebRupee {font-family:'WebRupee';}
body {
  margin: 0;
  font-family: Gotham-Light;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 0px !important;
}

#content {
    position: relative;
    width: 100%;
    padding: 0;
    background-image:url('../images/banner1.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	height:652px;
}
.mnop{padding-top:2% !important;}
#content1 {
    position: relative;
    width: 100%;
    padding: 0 0 2%;
    background: #d9d9d9; /* For browsers that do not support gradients */

}
#topnav{list-style:none;display:inline-flex;padding-top:2%;float:right;}
#topnav li{display:inline;padding: 8px 20px;display:inline-block;}
#topnav li a{color:#000;}
#topnav li a:hover{text-decoration:none;}
.packprice{font-size:20px;}
.banncont {padding-top: 74%;}
.banncont .head {
    font-family: Gotham-Bold;
	color: #FFF;
    font-size: 37px;
    line-height: 38px;
    padding: 1% 0;
}
.bsm,.wb{font-size:20px;}
.banncont .cont {color:#FFF;font-size: 20px;padding-right:25%;font-family:Gotham;}
.bimg img{float:left;width:46%;}
.bimg1 img{float:right;width:110%;}
.mnop{}
.buttn {
    background: #FFF;
    width: 34%;
    padding: 1% 4%;
	cursor:pointer;
	margin-top:6%;
	font-family:Gotham;
    font-size: 18px;
    border-bottom: 3px solid #86ccd4;
    border-right: 2px solid #86ccd4;
}
#topc{padding-top: 0%;background: #FFF;}
.thank{min-height:300px;}
.logo{ background:url(../images/logo.png) no-repeat center;}
.login-panel{
	float:right;
	width:60%;
	padding-top: 0%;
	background: transparent;
    border-color: transparent;
	-webkit-box-shadow:none !important;
    }
.login-panel .panel-body{border: 10px solid #447d05db;/*box-shadow: 3px 17px 13px -14px #5a5959;*/}
.form-down{
	padding: 2%;
	color:#FFF;
    text-align: center;
    font-size: 13px;
}
.form-control{
	height:40px!important;
	padding:2px !important;
	color: #000;
	font-size:18px;
    font-weight: bold;
    background-color: #f2f2f2;
	border-radius:0;
	border-bottom:1px solid #ccc;
	-webkit-box-shadow:none !important;
	}

.form-group{margin-bottom: 10px !important;}
.navbar-nav>li>a::before{ content:url(../images/ph.png); padding-right: 7px;   vertical-align: middle;}
.nav>li>a{font-family: Amw;color:#000;font-size:22px;}
.navbar-brand {
    float: left;
    padding: 15px 0px !important;
    font-size: xx-small;
    line-height: 20px;
	height:90px;
}
h2.bot{font-family: Gotham-Light;color:#37499B;padding-left:9%;}
h3.text-center{padding-bottom:2%;}
.para{    font-size: 20px;
    padding-bottom: 12px;}
.recommend{font-weight:bold;text-align:center;font-size:16px;padding:1%;}
.well1{
    min-height: 20px;
    padding: 19px 0 10px 0;
    background-color:none !important;

}	
.well-mobile {
   
    padding: 19px;
	
    margin-bottom: 20px;
	background:url(../images/LP_1.png) no-repeat;
	background-size:cover;
	border: 1px solid #7AB051 !important;
    border-radius: 30px !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}	

.bannertext{padding:0px 20px;
color: #fff;
    position: absolute;
    top: 288px;

}
.bt{  position:absolute; right: 5px;top: -9px; color: #70B730;font-size: 39px;}
.bt2{  position:absolute; left: 5px;top: -9px; color: #70B730;font-size: 39px;}
#section2{padding-top:1%;padding-bottom:2%;}
.down1 {
    font-size: 35px;
    text-align: center;
    padding: 2% 2% 0 2%;
}
.panel-default>.panel-heading
{
	background-color:#eaeaea !important;
	color:#000 !important;
	font-size:16px;
	font-family:Muse0500;
	}
.panel-body{background-color:#fefefe !important;padding:21px !important;}
.acont{font-family:Gotham;font-size:16px;}
.acont ul li{padding:4px 0;}
#tria {
  position: relative;
  padding: 13px 25px;
  font-size:20px;
  /*background-color: #70B730;*/
}
#tria :last-child {
  margin-bottom: 0;
  font-family:Gotham-Light;
}
#tria :before, #tria :after {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  content: "";
}
/*#tria :before {
  border-top: solid 18px transparent;
    border-right: solid 12px #CCC;
    border-left: solid 17px transparent;
    border-bottom: solid 25px #ccc;
}*/
#tria1 {
  position: relative;
    padding: 2px 20px;
    background-color: #CCC;
    font-size: 18px;
    font-weight: bold;
	width:70%;
	margin-bottom:2%;
}
#tria1 :last-child {
  margin-bottom: 0;
}
#tria1 :before, #tria1 :after {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  content: "";
}
#tria1 :before {
  border-top: solid 18px transparent;
    border-right: solid 12px #FFF;
    border-left: solid 17px transparent;
    border-bottom: solid 25px #FFF;
}
.off-ul{padding:6px 30px;}
.pri{color:#000;padding:15% 0;font-family:Gotham-Light;}
.off-pri{color:#000;padding:15% 0;font-family:Gotham-Light;}
.nocolpad{padding:0;}
.colblack{background:#eee;font-weight:bold;}
.bannertext h1,h3{margin:0 auto !important;}
.context-box{
padding:10px; 
border:1px solid #7bae43;
font-size: 25px;
font-weight: bold;
display: inline-block;
margin-bottom: 10px;
margin-top: 10px;
color: #000 !important;
text-decoration: none !important;
	}
	.text-bold{font-weight:bold;}
	#off-1{font-size:16px;font-weight:bold;}
.btn-success {
    color: #000;
    background-color: #7bae43;
    border-color: #fff;
	border-radius:15px;box-shadow: 0px 2px 0px #fff, 0px 9px 25px rgba(0,0,0,.7);
}
.btn-success:focus,.btn-success:hover {
    color: rgb(0, 0, 0);
    background-color: #ABCA8F;
    border-color: #255625;
}
.panel {
    margin-bottom: 0px !important;
	border-radius:10px;
	position:relative;
}
.panel-heading{padding:0 !important;}
.second-panel{margin-bottom: 1%;}
.box{height: 225px;
text-align: center;
background: rgb(238, 238, 238) none repeat scroll 0% 0%;
padding: 15px;}
.colpad{ padding:9px;}
.modal-body{font-family:Gotham;}

.service-container {
    display: block;
    margin-bottom: 40px;
}
.service-icon {
    display: block;padding-bottom: 2%;min-height:71px;
}
.service-icon1 {
    display: block;padding-bottom: 2%;
}
.service-icon .simg , .service-icon1 .simg {
    position: relative;
    display: block;
   /* width: 100px;*/
	text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 8px solid #fff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
}
#content1 .service-icon1 .simg{border:0;}
.service-content {
   text-align: center;
    padding: 0 5%;
    font-size: 16px;
    font-family: Gotham;
}
.service-content h3 {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 15px;
    font-weight: 600;
    text-transform: uppercase;
}
span.green{border-bottom: 1px solid #7bae4d;}
span.blue{border-bottom: 1px solid #37499b;}
.poppanel{    border-radius: 0px !important;
    box-shadow: none !important;
	border-color:#fff !important; }
.thirdpanel{margin-bottom:1%}
.baloon{position: absolute;
    top: 120px;
    right: 70px;
    z-index: 9999;}
.arrow{    position: absolute;
   
    right: 22%;
    z-index: 999;}
	
.package-container{
	 display: block;
    margin-bottom: 20px;
	padding:5%;
	text-align:center;
} 
.packprice table{width:100%;}
.prtd1{background-color:#FFF;padding: 2%;}	
.prtd2{background-color:#00399a;color:#FFF;padding: 2%;}	
.packagehead {
    font-size: 26px;
    line-height: 28px;
    font-family: Gotham-bold;
	margin-bottom:10px;
}
.phea {
    font-size: 20px;
    text-align: center;
    font-family: Gotham-Bold;
	margin-bottom: 15px;
}
@media (max-width:1000px){
	.baloon{display:none;}
	.arrow{display:none;}
	.login-panel{ padding-top: 10%;}#third{display:none;}
	h2.bot{font-size:25px;}
	#maincontent .login-panel{display:none;}
	#maincontent-show{display:block;}
	.availoffercode h3 {
	font-size:18px;
	}
}
@media (min-width:1000px){
	#hider{display:none;}
	#maincontent {display:block;}
	#maincontent-show{display:none;}
	
	}

@media (min-width:1300px){
	.baloon{right: 150px;}
	
	}
@media (min-width:1533px){
	.baloon{right: 255px;}
	
	}
@media (min-width:1743px){
	.baloon{right: 330px;}
	.arrow{right: 33%;}
	
	}
.opopad{padding:15px 0px;}
@media (min-width: 992px)
{
.col-md-2 {
    width: 20%;
}
}

.call{color:#000;}
img.img-responsive {
    margin: 0 auto;
}
input#search{
    background:url("../../assets/images/book.png");
    background-repeat: no-repeat;
    width:100%;
    height:100%;text-indent:-999px;border: none;
}
.form-control:focus,active  input#search{border-color:none;box-shadow:none}
.phone::before {
    content: url(../images/ph.png);
    padding-right: 7px;
    vertical-align: -webkit-baseline-middle;
}
.phone{padding: 15px 0px;
font-size: 18px;
padding-right:5%;
    font-weight: bold;
text-decoration: none;
color: black;}
.navbar-header{width:100%}
.navbar {
     margin-bottom: 0px !important;
}
a.phone.pull-right {
    text-decoration: none;
}
.call p {
    color: #000 !important;
    font-size: 14px !important;text-align: center;
}
.line{padding: 10%;}

.line p{    color: #000 !important;
    font-size: 14px !important;
    text-align: center;
    border-bottom: 1px solid #7BAE4D;
    border-top: 1px solid #7BAE4D;
    padding: 5%;}
.line a {
    color: #000 !important;
    text-decoration: none;
}
.btn {
color:transparent;
}
.btn.focus, .btn:focus, .btn:hover{color:transparent;}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}
a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}
.btn-blue {
  background-image: url(../images/button.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #FFF;
    margin-top: 11%;
    height: 34px;
}

.btn-blue.disabled:hover,
.btn-blue[disabled]:hover,
fieldset[disabled] .btn-blue:hover,
.btn-blue.disabled:focus,
.btn-blue[disabled]:focus,
fieldset[disabled] .btn-blue:focus,
.btn-blue.disabled.focus,
.btn-blue[disabled].focus,
fieldset[disabled] .btn-blue.focus {
  background-color: #37499b;
  border-color: #fff;
}
.btn-blue .badge {
  color: #fff;
  background-color: #37499b;
}
@media (max-width:700px){
	.phone{padding: 15px 0px;
font-size: 14px;
    font-weight: bold;
text-decoration: none;
color: black;}
}

.clickable
{
    cursor: pointer;
}

.clickable .glyphicon
{
    background: rgba(0, 0, 0, 0.15);
    display: inline-block;
    padding: 6px 12px;
    border-radius: 4px
}
.availoffercode{    background: #eee;
    border-radius: 20px;
    padding: 20px 0px;}
.availoffercode h3{margin:5px auto !important;}
.availoffercode .head{margin:0 2%;border-bottom:1px solid #ccc;}
.availoffercode .desc{padding:2%;text-align:center;}
.d-b{color:#37499b;}
#service{padding-top:2%;}
.s-title{text-align:center;font-weight:bold;padding:5px 0;font-size:20px;}

a.clickable { color: inherit; }
a.clickable:hover { text-decoration:none; }
#caniuse{padding:10px 0px 25px;}
.econsult-table{padding-top:20px;}

.bluetext{color:#37499b;}
.colorline, .colorline1 {
    height: 2px;
    width: 62px !important;
    background-color:#7AB051;   
   padding: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    position: relative;
}
.colorline1 {
    background-color:#37499b !important;   
}

.offer-valid{padding:25px 0px;}
.footer {
    background: #515151;
    color: #fff;
    padding: 20px 0px 16px 0;
	margin-top:1%;
}
footer.footer a {
    color: #fff;
}
.panel-heading .accordion-toggle:after { content: url(../images/minus.png);
   content: url(../images/minus.png);
    vertical-align: middle;
    float: right;
    color: grey;
    display: inherit;
    right: 10px;
    position: absolute;
    margin-top: -6%;
    padding: 3% 4%;
}
.panel-heading .accordion-toggle.collapsed:after { content:url(../images/plus.png);
   vertical-align:middle;
}

.actives{
    background-color:red;
}
.linerhr{width: 30%;
    color: #000 !important;
    border-top: 1px solid #ccc;}
@media (max-width:500px){
	.availoffercode{margin-top:10px;}
	.s-img{text-align:center;}
.bannertext {
    padding: 0px;
}
.phone{font-size:10px;}
h2{}
.context-box{font-size:18px}
#tria{padding:9px 4px;height:50px;font-size:15px;}
.panel-title{font-size:12px;}
#tria :before{    border-bottom: solid 32px #ccc;}
.panel-heading .accordion-toggle:after{right: 0%;
    margin-top: -13%;
    padding: 4% 5%;}
#tria1{width:100%;font-size:14px;}
.navbar-brand{height:40px;}
.pri,.off-pri{font-size:12px;}
.panel-default>.panel-heading{height:50px;}
.nor-pad{padding-right:0;}
.norl-pad{padding-right:0;padding-left:0;}
}
.list-inline{text-align:right;font-family: Gotham;font-size: 18px;font-size:20px;}
footer.footer ul {
    padding: 0;
    list-style: none;
    line-height: 2.6666666667em;
    float: left;
    width: 100%;
    text-align: right;
}
ul.socialicons {
    list-style: none;
    overflow: auto;
}

ul.socialicons li {
    width: 56px;
    height: 44px;
    padding: 0 44px 0 0;
    float: left;
}

ul.socialicons li a {
    width: 44px;
    height: 44px;
    display: block;
    background: url(../images/sprint.png) no-repeat;
	    border-bottom: none !important;
}
ul.socialicons li a.twitter {
    background-position: 0px 0px;
}

ul.socialicons li a.twitter:hover {
    background-position: 0px -57px;
}
ul.socialicons li a.facebook {
    background-position: -64px 0px;
}

ul.socialicons li a.facebook:hover {
    background-position: -64px -57px;
}
ul.socialicons li a.youtube {
    background-position:-129px 0px;
}
ul.socialicons li a.youtube:hover {
    background-position:  -129px -57px;
}
ul.socialicons li a.google {
    background-position: -194px 0px;
}

ul.socialicons li a.google:hover {
    background-position: -194px -57px;
}

@media (max-width: 768px){
	footer.footer ul{text-align:center;}
	.service-content{padding:0 10%;font-size: 12px;min-height: 100px;}
	#other1 .service-content{min-height: 40px;}
.down1{font-size:21px;}
	.doim{width:100px;}
	.banncont .head{font-size: 15px;line-height: 16px;}
	.bsm, .wb{font-size:15px;}
	.banncont .cont{font-size:14px;padding-right:1%;}
	.buttn{width:72%;float:right;}
    .mnop{padding:0 !important;}
		#content{     background-size: cover;
    height: auto;
    margin-top: 60px;
}
mobile-banner2{
        background-image: url(../images/banner-mobile2.jpg) !important;
}
	#topc {
    padding-top: 0%;
    background: #FFF;
    position: absolute;
    top: -60px;
}
.packagehead {
    font-size: 16px;
    line-height: 20px;
}
.packprice {font-size: 14px;}
.banncont {
    padding-top: 86%;
}
.form-down{color:#000;}
}
@media (min-width: 1200px){
.container {
    width: 1100px;
}
}
@media (min-width: 1800px){
#content{height:945px;}	
.mnop {padding-top: 35% !important;}
.banncont {padding-top: 100%;}
}
.cross {
    position: relative;
    display: inline-block;
}
.cross::before{
    content: '';
    width: 100%;
    position: absolute;
    right: 0;
    top: 50%;
    border-bottom: 2px solid #000;
    -webkit-transform: skewY(-10deg);
    transform: skewY(-10deg);
}
.hero:after {
 border-right: solid 15px transparent;
    border-left: solid 15px transparent;
    border-top: solid 15px #5e8c1d;
    transform: translateX(-50%);
    position: absolute;
    z-index: 99;
    content: '';
    top: 10px;
    left: 50%;
    height: 0;
    width: 0;
}
.error{
    color: red;
}